 /* CSS */
 body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3582ca;
    color: rgb(248, 243, 243);
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    
}

nav ul li a {
    color: rgb(244, 241, 249);
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    position: top;
}

.galeri-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

input, textarea, button {
    margin-bottom: 10px;
    padding: 5px;
}

footer {
    background-color: #333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}